global-include *.pyx
global-include *.px
include stabilizer_search/clib/haar_random/haarrandom.h
include stabilizer_search/clib/haar_random/haarrandom.c
include stabilizer_search/clib/haar_random/Makefile
